{
    "semi": true,                   
    "singleQuote": true,            
    "tabWidth": 2,                  
    "useTabs": true,               
    "trailingComma": "all",         
    "printWidth": 80,               
    "arrowParens": "always",        
    "endOfLine": "auto", 
    "bracketSpacing": true,
    "overrides": [
      {
        "files": "*.json",
        "options": {
          "parser": "json",         
          "printWidth": 200         
        }
      }
    ]
  }